[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
[submodule "externals/lv_port_esp32_ili9341"]
	path = externals/lv_port_esp32_ili9341
	url = https://github.com/littlevgl/lv_port_esp32_ili9341.git
